{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DjMeet</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

    <!-- <script defer src="{% static 'script.js' %}"></script> -->
</head>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
</style>

<style>
    body {
        background-color: #292929;
        font-family: "Open Sans", sans-serif;
    }

    .btn-circle.btn-sm {
        width: 30px;
        height: 30px;
        padding: 6px 0px;
        border-radius: 15px;
        font-size: 8px;
        text-align: center;
    }

    .btn-circle.btn-md {
        width: 40px;
        height: 40px;
        padding: 3px 6px;
        border-radius: 25px;
        font-size: 10px;
        text-align: center;
    }

    .btn-circle.btn-xl {
        width: 70px;
        height: 70px;
        padding: 10px 16px;
        border-radius: 35px;
        font-size: 12px;
        text-align: center;
    }

    @media screen and (max-width: 2000px) {
        .video-container {
            height: 100%;
        }
    }

    @media screen and (max-width: 480px) {
        .video-container {
            height: 70%;
            /* max-height: 50vh; */
        }

        #container {
            overflow-y: hidden;
        }
    }

    @media screen and (max-width: 2000px) {
        .video-container2 {
            height: 200px;
        }
    }

    @media screen and (max-width: 480px) {
        .video-container2 {
            height: 15vh;
        }
    }

    #container {
        margin-left: 0;
        margin-right: 0;
        width: 100vw !important;
        height: 90vh;
    }

    .video-container2 {
        background-color: #121212;
        width: 100%;
        border-radius: 8px;
        border: 2px solid #71a0ce;
    }

    .video-container {
        background-color: #121212;
        border-radius: 8px;
        border: 2px solid #7c7937;
        max-height: 80vh;
    }

    #chat_container {
        display: none;
        height: 80vh;
        background-color: #121212;
        border-radius: 8px;
    }

    #chat-log {
        height: 83%;
        overflow-y: scroll;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
</style>

<body>
    <div class="container-fluid" id="container">
        <div id="row" style="width: 100%; height: 100%" class="row mt-4 mb-2">
            <div id="main_container" style="height: 100%" class="col-12">
                <div style="height: 100%" class="row">
                    <div id="ours_container" class="col-md-3 col-lg-3 mb-3 align-self-center">
                        <div class="video-container2">
                            <video muted="muted" style="width: 100%; height: 100%" id="ours"></video>
                            {% if created == "created" %}

                            <h5 style="
                    margin-top: -3rem;
                    color: #ffffff;
                    opacity: 0.7;
                    margin-left: 1rem;
                  ">
                                Host
                            </h5>

                            {% endif %}
                        </div>
                    </div>

                    <div style="max-width: 900px; height: 100%" id="remote_container"
                        class="col-md-6 col-lg-9 mb-3 align-self-center">
                        <div class="video-container">
                            <video style="width: 100%; height: 100%" id="remote"></video>
                            {% if created != "created" %}
                            <h3 style="
                    margin-top: -4rem;
                    color: #ffffff;
                    opacity: 0.7;
                    margin-left: 1rem;
                  ">
                                Host
                            </h3>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="chat_container" class="col-3 mb-3">
                <button id="tts-toggle" class="btn btn-circle btn-sm btn-danger mt-3 mx-2">
                    <img style="margin-top: -2px" src="https://img.icons8.com/ios-glyphs/20/000000/speaker.png" />
                </button>

                <div id="chat-log"></div>
                <!-- <textarea id="chat-log" cols="30" rows="20"></textarea><br> -->
                <div class="d-flex justify-content-start align-self-end">
                    <input id="chat-message-input" type="text" class="form-control" />
                    <input id="chat-message-submit" type="button" value="Send" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>

    <nav style="background-color: #121212" class="navbar fixed-bottom navbar-dark py-4">
        <div class="container-fluid d-flex justify-content-between">
            <div class="share">
                <input style="display: none" type="text" value="{{room}}" id="myInput" />
                <a style="text-decoration: none; padding-left: 1rem" href="#" onclick="copyFunction()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                        class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        <path fill-rule="evenodd"
                            d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                    </svg>
                </a>
            </div>
            <div class="control">
                <button id="video-toggle" class="btn btn-circle btn-md btn-danger mx-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                        class="bi bi-camera-video" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5zm11.5 5.175 3.5 1.556V4.269l-3.5 1.556v4.35zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H2z" />
                    </svg>
                </button>
                <button id="audio-toggle" class="btn btn-circle btn-md btn-danger mx-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-mic"
                        viewBox="0 0 16 16">
                        <path
                            d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z" />
                        <path
                            d="M10 8a2 2 0 1 1-4 0V3a2 2 0 1 1 4 0v5zM8 0a3 3 0 0 0-3 3v5a3 3 0 0 0 6 0V3a3 3 0 0 0-3-3z" />
                    </svg>
                </button>

                <button id="bg-toggle" class="btn btn-circle btn-md btn-danger mx-2">
                    <img src="https://img.icons8.com/material-outlined/24/ffffff/musical-notes.png" />
                </button>

                <a style="padding-top: 8px" id="close-toggle" class="btn btn-circle btn-md btn-danger mx-2"
                    href="{% url 'close_meet' room created %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                        class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" />
                        <path fill-rule="evenodd"
                            d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z" />
                    </svg>
                </a>
            </div>

            <div>
                <a style="text-decoration: none; padding-right: 1rem" href="#" id="chat_toggle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                        class="bi bi-chat-left-dots" viewBox="0 0 16 16">
                        <path
                            d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                        <path
                            d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                    </svg>
                </a>
            </div>

            <!-- <button style="display: none;" class="btn btn-circle btn-outline-primary btn-md mx-2" id="call">Call</button>  -->
        </div>
    </nav>

    <!-- modal start -->

    <div id="modal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Participant request</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Someone wants to join ...</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button class="btn btn-outline-primary mx-2" id="call">
                        Accept
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- modal end -->

    <!-- bg audios -->

    <audio id="happyAudio" class="audios">
        <source src="{% static 'happy_new.mp3' %}" type="audio/mpeg" />
        Your browser does not support the audio element.
    </audio>

   


    <audio id="notificationAudio" >
        <source src="{% static 'chat_notification.mp3' %}" type="audio/mpeg" />
        Your browser does not support the audio element.
    </audio>

    <audio id="neutralAudio" >
        <source src="{% static 'crystal.mp3' %}" type="audio/mpeg"  autoplay="false" />
        Your browser does not support the audio element.
    </audio>
    <audio id="happyAudio" >
        <source src="{% static 'happy_new.mp3' %}" type="audio/mpeg"  autoplay="false" />
        Your browser does not support the audio element.
    </audio>
    <audio id="sadAudio" >
        <source src="{% static 'sad_new.mp3' %}" type="audio/mpeg"  autoplay="false" />
        Your browser does not support the audio element.
    </audio>
    <audio id="angryAudio" >
        <source src="{% static 'angry_new.mp3' %}" type="audio/mpeg"  autoplay="false" />
        Your browser does not support the audio element.
    </audio>
    <audio id="fearfulAudio" >
        <source src="{% static 'fearful_new.mp3' %}" type="audio/mpeg"  autoplay="false" />
        Your browser does not support the audio element.
    </audio>



    <!-- end -->



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- face AI -->

    <script src="{% static 'face-api.min.js' %}"></script>

    <script>
        // random name generator

        function randomstring(L) {
            var s = "";
            var randomchar = function () {
                var n = Math.floor(Math.random() * 62);
                if (n < 10) return n; //1-10
                if (n < 36) return String.fromCharCode(n + 55); //A-Z
                return String.fromCharCode(n + 61); //a-z
            };
            while (s.length < L) s += randomchar();
            return s;
        }

        var randomName = randomstring(5);
        console.log(randomstring(5));

        // random name generator end

        // button event listeners start

        const video = document.getElementById("remote");
        const bgToggle = document.getElementById("bg-toggle");
        var bg_toggle = true;
        var happyAudio = document.getElementById("happyAudio");
      
        var toneAudio = document.getElementById("toneAudio");


        bgToggle.onclick = () => {
            if (bg_toggle) {
                var tracks = document.getElementsByClassName("audios");
                for (var i = 0; i < tracks.length; i++) {
                    tracks[i].pause();
                }
                bg_toggle = false;

                bgToggle.className = "btn btn-circle btn-md btn-light mx-2";
                bgToggle.innerHTML =
                    "<img src='https://img.icons8.com/material-outlined/24/000000/musical-notes.png'/>";
            } else {
                bg_toggle = true;
                bgToggle.className = "btn btn-circle btn-md btn-danger mx-2";
                bgToggle.innerHTML =
                    "<img src='https://img.icons8.com/material-outlined/24/ffffff/musical-notes.png'/>";
            }
        };

        //  button event listeners end

        //  face API start

        Promise.all([
            faceapi.nets.tinyFaceDetector.loadFromUri("{% static '/models' %}"),
            faceapi.nets.faceLandmark68Net.loadFromUri("{% static '/models' %}"),
            faceapi.nets.faceRecognitionNet.loadFromUri("{% static '/models' %}"),
            faceapi.nets.faceExpressionNet.loadFromUri("{% static '/models' %}"),
        ]);

        function faceAPI() {
            //   const canvas = faceapi.createCanvasFromMedia(video)
            //   document.body.append(canvas)

            const displaySize = { width: 300, height: 300 };

            //   faceapi.matchDimensions(canvas, displaySize)
            var checkEmotion;
            setInterval(async () => {
                const detections = await faceapi
                    .detectAllFaces(video, new faceapi.TinyFaceDetectorOptions())
                    .withFaceLandmarks()
                    .withFaceExpressions();
                const resizedDetections = faceapi.resizeResults(
                    detections,
                    displaySize
                );

                // canvas.getContext('2d').clearRect(0, 0, canvas.width, canvas.height)
                // faceapi.draw.drawDetections(canvas, resizedDetections)
                // faceapi.draw.drawFaceLandmarks(canvas, resizedDetections)
                // faceapi.draw.drawFaceExpressions(canvas, resizedDetections)

                console.log(resizedDetections[0].expressions);
                var exps = resizedDetections[0].expressions;

                var mx = 0;
                var maxm;
                

                for (var i in exps) {
                    if (i != "asSortedArray") {
                        if (exps[i] > mx) {
                            mx = exps[i];
                        }
                    }
                }

                for (var i in exps) {
                    if (i != "asSortedArray") {
                        if (exps[i] == mx) {
                            maxm = i;
                        }
                    }
                }

                if (bg_toggle) {
                    if (maxm == "happy") {
                        console.log(checkEmotion);
                        if(checkEmotion != maxm){
                            console.log("happy");
                            happyAudio.play(); 
                            happyAudio.volume = 0.2;
                            neutralAudio.pause(); 
                            sadAudio.pause(); 
                            angryAudio.pause();
                            fearfulAudio.pause();
                            // neutralAudio.pause(); 

                        }
                        checkEmotion = maxm;
                        
                       
                        
                    } else if (maxm == "sad") {
                        if(checkEmotion != maxm){
                            console.log("sad");
                            sadAudio.play(); 
                            sadAudio.volume = 0.3;
                            happyAudio.pause(); 
                            neutralAudio.pause();
                            angryAudio.pause(); 
                            fearfulAudio.pause(); 

                        }
                        checkEmotion = maxm;
                        

                        
                    } else if (maxm == "neutral") {
                        console.log(checkEmotion);

                        if(checkEmotion != maxm){

                            console.log("neutral");

                            neutralAudio.play(); 
                            neutralAudio.volume = 0.2;
                            happyAudio.pause();
                            sadAudio.pause();
                            angryAudio.pause();
                            fearfulAudio.pause(); 

                        }
                        checkEmotion = maxm;
                        

                    }
                    else if (maxm == "angry") {

                        if(checkEmotion != maxm){

                            console.log("angry");

                            angryAudio.play(); 
                            angryAudio.volume = 0.2;
                            happyAudio.pause();
                            sadAudio.pause();
                            neutralAudio.pause();
                            fearfulAudio.pause(); 

                        } 
                        checkEmotion = maxm; 
                        

                    }
                    else if (maxm == "fearful") {
                        if(checkEmotion != maxm){

                            console.log("fearful");

                            fearfulAudio.play(); 
                            fearfulAudio.volume = 0.2;
                            happyAudio.pause();
                            sadAudio.pause();
                            angryAudio.pause();
                            neutralAudio.pause(); 

                        }
                        checkEmotion = maxm; 
                        
                        

                    }
                    
                    
                }
            }, 10000);
        }

        //   face API end

        //webRTC video start

        var permissionModal = new bootstrap.Modal(
            document.getElementById("modal"),
            {
                keyboard: false,
            }
        );

        const our_video = document.getElementById("ours");
        const remote_video = document.getElementById("remote");
        const call_btn = document.getElementById("call");

        const videoToggleBtn = document.getElementById("video-toggle");
        const audioToggleBtn = document.getElementById("audio-toggle");

        let stream;
        let rtcpeerconnection;
        const created = "{{created}}";
        const room = "{{room}}";
        let isCreated;

        let iceServers = {
            iceServers: [
                //                 {
                // "urls": [
                // "turn:13.250.13.83:3478?transport=udp"
                // ],
                // "username": "YzYNCouZM1mhqhmseWk6",
                // "credential": "YzYNCouZM1mhqhmseWk6"
                // }
                // { 'urls': 'stun:74.125.142.127:19302' }
                // {"urls":"stun.nottingham.ac.uk:3478"}
                // {
                //     url: 'turn:192.158.29.39:3478?transport=tcp',
                //     credential: 'JZEOEt2V3Qb0y27GRntt2u2PAYA=',
                //     username: '28224511:1379330808'
                // }

                {
                    url: "turn:numb.viagenie.ca",
                    credential: "muazkh",
                    username: "webrtc@live.com",
                },
            ],
        };

        var loc = window.location;
        var wsStart = "ws://";
        if (loc.protocol == "https:") {
            wsStart = "wss://";
        }

        var endPoint = wsStart + loc.host + "/ws/";
        const ws = new WebSocket(endPoint);

        ws.onopen = () => {
            console.log("opened");
            ws.send(
                JSON.stringify({
                    command: "join_room",
                    room: room,
                })
            );
            if (created == "created") {
                isCreated = true;

                navigator.mediaDevices
                    .getUserMedia({
                        video: true,
                        audio: true,
                    })
                    .then((s) => {
                        stream = s;
                        our_video.srcObject = s;
                        our_video.onloadedmetadata = () => {
                            our_video.play();

                            faceAPI();
                        };

                        var audioTracks = stream.getAudioTracks();
                        var videoTracks = stream.getVideoTracks();

                        audioTracks[0].enabled = true;
                        videoTracks[0].enabled = true;

                        audioToggleBtn.addEventListener("click", () => {
                            audioTracks[0].enabled = !audioTracks[0].enabled;

                            if (audioTracks[0].enabled) {
                                audioToggleBtn.className =
                                    "btn btn-circle btn-md btn-danger mx-2";
                                return;
                            }
                            audioToggleBtn.className =
                                "btn btn-circle btn-md btn-light mx-2";
                        });

                        videoToggleBtn.addEventListener("click", () => {
                            videoTracks[0].enabled = !videoTracks[0].enabled;

                            if (videoTracks[0].enabled) {
                                videoToggleBtn.className =
                                    "btn btn-circle btn-md btn-danger mx-2";
                                return;
                            }
                            videoToggleBtn.className =
                                "btn btn-circle btn-md btn-light mx-2";
                        });
                        // end
                    });
            } else {
                isCreated = false;
                navigator.mediaDevices
                    .getUserMedia({
                        video: true,
                        audio: true,
                    })
                    .then((s) => {
                        stream = s;
                        our_video.srcObject = s;
                        our_video.onloadedmetadata = () => {
                            our_video.play();
                            faceAPI();
                        };
                        // try

                        var audioTracks = stream.getAudioTracks();
                        var videoTracks = stream.getVideoTracks();

                        audioTracks[0].enabled = true;
                        videoTracks[0].enabled = true;

                        audioToggleBtn.addEventListener("click", () => {
                            audioTracks[0].enabled = !audioTracks[0].enabled;

                            if (audioTracks[0].enabled) {
                                audioToggleBtn.className =
                                    "btn btn-circle btn-md btn-danger mx-2";
                                return;
                            }
                            audioToggleBtn.className =
                                "btn btn-circle btn-md btn-light mx-2";
                        });

                        videoToggleBtn.addEventListener("click", () => {
                            videoTracks[0].enabled = !videoTracks[0].enabled;

                            if (videoTracks[0].enabled) {
                                videoToggleBtn.className =
                                    "btn btn-circle btn-md btn-danger mx-2";
                                return;
                            }
                            videoToggleBtn.className =
                                "btn btn-circle btn-md btn-light mx-2";
                        });
                        ws.send(
                            JSON.stringify({
                                command: "join",
                                room: room,
                            })
                        );
                    });
            }
            console.log(isCreated);
        };

        ws.onmessage = (e) => {
            const data = JSON.parse(e.data);
            console.log(data);
            if (data["command"] == "join") {
                if (isCreated) {
                    permissionModal.show();
                }
            } else if (data["command"] == "offer") {
                if (isCreated == false) {
                    createanswer(data["offer"]);
                }
            } else if (data["command"] == "answer") {
                if (isCreated) {
                    rtcpeerconnection.setRemoteDescription(data["answer"]);

                    console.log("answer set as remote");
                }
            } else if (data["command"] == "candidate") {
                if (data["iscreated"] != isCreated) {
                    const IceCandidate = new RTCIceCandidate(data["candidate"]);
                    rtcpeerconnection.addIceCandidate(IceCandidate);
                }
            } else if (data["command"] == "chat") {
                const data2 = JSON.parse(e.data);
                document.querySelector(
                    "#chat-log"
                ).innerHTML += `<div style="background:#3a2d49; border-radius:5px" ><h5 style="color:white; font-size:0.86rem; padding:0.6rem; padding-top:0.8rem; ">${data2.chat}</h5></div>`;
                // console.log(data2.chat);
                console.log(data2.name);
                console.log(randomName);

                var notificationAudio = document.getElementById("notificationAudio");

                

                if (data2.name != randomName) {
                    speakVoice(data2.chat);
                    notificationAudio.play();


                }
            }
        };

        call_btn.onclick = () => {
            createoffer();
        };

        function createoffer() {
            rtcpeerconnection = new RTCPeerConnection(iceServers);
            rtcpeerconnection.onicecandidate = OnIceCandidateFunc;
            rtcpeerconnection.ontrack = OnTrackFunc;
            stream.getTracks().forEach((track) => {
                rtcpeerconnection.addTrack(track, stream);
            });
            rtcpeerconnection.createOffer().then((offer) => {
                rtcpeerconnection.setLocalDescription(offer);
                ws.send(
                    JSON.stringify({
                        command: "offer",
                        offer: offer,
                        room: room,
                    })
                );
            });
        }

        function OnIceCandidateFunc(e) {
            if (e.candidate) {
                ws.send(
                    JSON.stringify({
                        command: "candidate",
                        candidate: e.candidate,
                        iscreated: isCreated,
                        room: room,
                    })
                );
            }
        }
        function OnTrackFunc(e) {
            remote_video.srcObject = e.streams[0];
            remote_video.onloadedmetadata = () => {
                remote_video.play();
                permissionModal.hide();
            };
        }

        function createanswer(offer) {
            rtcpeerconnection = new RTCPeerConnection(iceServers);
            rtcpeerconnection.onicecandidate = OnIceCandidateFunc;
            rtcpeerconnection.ontrack = OnTrackFunc;
            stream.getTracks().forEach((track) => {
                rtcpeerconnection.addTrack(track, stream);
            });
            rtcpeerconnection.setRemoteDescription(offer);
            rtcpeerconnection.createAnswer().then((answer) => {
                rtcpeerconnection.setLocalDescription(answer);
                ws.send(
                    JSON.stringify({
                        command: "answer",
                        answer: answer,
                        room: room,
                    })
                );
            });
        }

        //   webRTC video end

        // copy to clipboard start

        function copyFunction() {
            var copyText = document.getElementById("myInput");
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            navigator.clipboard.writeText(copyText.value);

            alert("Copied the Meet Code: " + copyText.value);
        }

        // copy to end

        // chat start

        var chat_trigger = false;
        document
            .querySelector("#chat_toggle")
            .addEventListener("click", function () {
                var x = window.matchMedia("(max-width: 770px)");
                myFunction(x);
                x.addListener(myFunction);

                if (chat_trigger == false) {
                    console.log("click");
                    document.getElementById("main_container").className = "col-9";
                    chat_trigger = true;
                    document.querySelector("#chat_container").style.display = "block";
                } else {
                    document.getElementById("main_container").className = "col-12";
                    // document.getElementById("remote_container").className = "col-lg-6 col-md-6 mb-3"
                    chat_trigger = false;
                    document.querySelector("#chat_container").style.display = "none";
                    document.getElementById("main_container").style.display = "block";
                }
            });

        // chat end

        //text to speech toggle start

        var tts_toggle = document.getElementById("tts-toggle");
        var tts_bool = true;

        tts_toggle.addEventListener("click", () => {
            if (tts_bool) {
                tts_bool = false;
                tts_toggle.className = "btn btn-circle btn-sm btn-light mt-3 mx-2 ";
                
            } else {
                tts_bool = true;
                tts_toggle.className = "btn btn-circle btn-sm btn-danger mt-3 mx-2 ";
            }
        });

        //text to speech toggle end

        // text to speech start

        let utterance;

        window.speechSynthesis.onvoiceschanged = function () {
            const voices = window.speechSynthesis.getVoices();
        };

        function speakVoice(message) {
            voices = speechSynthesis.getVoices();
            utterance = new SpeechSynthesisUtterance(message);
            utterance.voice = voices[12];
            if (tts_bool) {
                utterance.volume = 1;
            } else {
                utterance.volume = 0;
            }
            speechSynthesis.speak(utterance);
        }

        document.querySelector("#chat-message-input").focus();
        document.querySelector("#chat-message-input").onkeyup = function (e) {
            if (e.keyCode === 13) {
                // enter, return
                document.querySelector("#chat-message-submit").click();
            }
        };

        document.querySelector("#chat-message-submit").onclick = function (e) {
            const messageInputDom = document.querySelector("#chat-message-input");
            const chat = messageInputDom.value;
            ws.send(
                JSON.stringify({
                    command: "chat",
                    chat: chat,
                    room: room,
                    name: randomName,
                })
            );
            messageInputDom.value = "";
        };

        // text to speech end

        // media query start

        function myFunction(x) {
            if (x.matches) {
                document.getElementById("main_container").style.display = "none";
                document.getElementById("chat_container").className = "col-md-12";
                document.getElementById("row").style.width = "100vw";
            }
        }

      // media query end
    </script>
</body>

</html>